<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media=""screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Flask!</h2>
      <br>
      <p>Click <a href="/">here</a> to go home.</p>
    </div>
  </body>
</html> -->

<!-- <!DOCTYPE html>
<html>
  <head>

  </head>
  <div class="navigation">
    <a href="/form_login">Login</a></li>
    <a href="/welcome">Welcome</a></li>
  </div>

  <body>
    <div class="container">
      <h1>Welcome to Flask!</h2>
      <br>
      <p>Click <a href="/">here</a> to go home.</p>
    </div>
  </body>
</html> -->


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a href="/form_login">Login</a></li>
  <a href="/welcome">Welcome</a></li>
  <a href="/info">Info</a></li>
  <a href="/data">Data</a></li>
</div>

<div style="padding-left:16px">
  <h2>Hi {{users[email]['name']}}!</h2>
  <p>
    <table>
      <tr>
        <th>Criteria</th>
        <th>Your Value</th>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{users[email]['age'].title()}}</td>
      </tr>
      <tr>
        <td>Do you have Asthma?</td>
        <td>{{users[email]['asthma']}}</td>
      </tr>
      <tr>
        <td>Do you have heart or lung disease?</td>
        <td>{{users[email]['heart/lung']}}</td>
      </tr>
      <tr>
        <td>Are you pregnant?</td>
        <td>{{users[email]['pregnant']}}</td>
      </tr>
      <tr>
        <td>Level of outdoor activity on a scale of 1-5</td>
        <td>{{users[email]['outdoor activity']}}</td>
      </tr>
      <tr>
        <td>Zip Code</td>
        <td>{{users[email]['zip code']}}</td>
      </tr>
    </table>
  </p>
</div>

</body>
</html>
